
.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 20px;
}

body {
    margin: 2px;
    background: #1E1E1E;
    font-family: Inter, sans-serif;
    color: #F8F1F1;

}

table {
    width: 85%;
    border-collapse: collapse;
}

table, th {
    border: 2px solid;
}

td {
    border: 1px solid;
}

table, th, td {
    border-color: #333333;
}